body
{
   background-color: rgba(0, 74, 173, 0.15);
   height: 100vh;
}
.webTitle
{
    background-color: rgb(255,255,255);
    width:100%;
    padding: 0;
    margin: 0;
}
.TitleFont
{
    font-family: Georgia;
    color: rgb(0, 74, 173);
    display: inline-block;
    margin: 0;
}
.Fast
{
    font-weight: bold;
    font-size: 22px;
}
.Job
{
    font-weight: normal;
    font-size: 20px;
}
.com
{
    font-style: italic;
    font-size: 10px;
}
.searchBar
{
    align-items: center;
    display: inline-block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.searchBar input
{
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(0, 74, 173);
    border-radius: 4px 0 0 4px;
}
.searchBar input[placeholder]
{
    text-align: center;
}
.gearIcon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}