body
{
    max-width: 1300px;
   background-color: rgba(0, 74, 173, 0.15);
}
.webTitle
{
    background-color: rgba(255,255,255,0.75);
    padding: 0.5% 2%;
}
.TitleFont
{
    --font-inter:'Inter', sans-serif;
    color: rgb(0, 74, 173);
    display: inline-block;
}
.Fast
{
    font-weight: bold;
    font-size: 22px;
}
.Job
{
    font-weight: normal;
    font-size: 20px;
}
.searchBar
{
    display: inline-block;
    width: 500px;
    align-self: center;
}
.searchBar input
{
    background-color: #f4f4f4;
    padding: 6px 15%;
    font-size: 16px;
    border: 1px solid rgb(0, 74, 173);
    border-radius: 4px 0 0 4px;
}
.searchBar input[placeholder]
{
    text-align: center;
}
.searchBar button{
    width: fit-content;
    height: 30px;
}
.gearIcon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}