.icon-size {
    height: 2.5vh;
    width: 1.5vw;
}

.sun-fill {
    fill: orange;
}

.main-sun-icon {
    fill: orange;
    stroke: orange;
}

.sun-icon {

    fill: orange;
    stroke: orange;
}

.temp-size {
    box-sizing: border-box;
    flex: 1;
}