body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 600px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.header
{
    padding-left: 3%;
    height: 100px;
    max-height: 13%;
    background-color: #004AAD;
    width: 100%;
    margin: 0;
    color: #f4f4f4;
    display: flex;
    align-items: center;
}
.title p
{
    font-size: 250%;
    display: inline;
    text-transform: uppercase;
    font-family: 'Inter';
}
.firstStyle
{
    font-weight: bold;
}
.searchBar
{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10% 0 5%;
    max-width: 70%;
    height: 40%;
}
.barStyle
{
    
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
}
input.barStyle
{
    width: 65%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: #f4f4f4;
}
button.barStyle
{
    background-color: #004AAD;
    width: fit-content;
    align-items: center;
    display: inline-flex;
    border: #f4f4f4 solid;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}
input::placeholder
{
    color: #737373;
    text-align: center;
    font-family: 'Inter';
    font-size: 130%;
    height: fit-content;
    padding-left: 10px;
    width: 100%;
}
.magnifier
{
    fill: #f4f4f4;
    width: 24px;
    height: 24px;
}
.weather
{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    margin-top: 0;
    display: flex;
    
}
.main-weather
{
    margin-right:2%;
    text-align: center;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.current
{
    background-color: white;
    height: 50%;
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.15s;
}

.current:hover
{
    background-color:#004AAD66;
    .upper-current{color: white;}
    .weather-title{color: white;}
    border: solid black;

}
.upper-current
{
    width: 100%;
    height: 25%;
    border-radius: 15px;
    font-family: 'Inter';
}

.weather-title
{
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
    color: #a6a6a6;
    height: fit-content;
    max-height: 50%;
}
.weather-description
{
    font-weight: bold;
    font-size: 20px;
    height: 50%;
}
.lower-current
{
    
    height: 75%;
}
.forecast
{
    border-radius: 15px;
    padding-top: 2%;
    background-color: green;
    height: 50%;
    width: 70%;
    margin-bottom: 30px;
}






.weather-board
{
    padding-right: 0;
    box-sizing: border-box;
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.board
{
    margin-left: 8%;
    height: 25%;
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Inter';
    width: 100%;
    background-color: white;
}
.humidity
{
    background-image: linear-gradient(90deg,#00d8ff00,#00d8ff33,#00d8ff66,#00d8ff99,#00d8ffCC,#00d8ffFF);
    border-radius: 15px 15px 0 0;
    
   
}
.board:hover
{
    border: solid;
}



.pressure
{

    background-image: linear-gradient(90deg,#00ffab00,#00ffab33,#00ffab66,#00ffab99,#00ffabCC,#00ffabFF);
}
.visibility
{
    background-image: linear-gradient(90deg,#cb424200,#cb424233,#cb424266,#cb424299,#cb4242CC,#cb4242FF);
}
.feeling
{
    border-radius: 0 0 20px 20px;
    background-image: linear-gradient(90deg,#ff820000,#ff820033,#ff820066,#ff820099,#ff8200CC,#ff8200FF);
}
.board-text
{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size:2.5vh;
    height: 20%;
    padding: 0;
}

.value
{
    align-content: end;
    text-align: left;
    height: 80%;
    font-size: 7vh;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-left:20px;
}


